[Unit]
Description=dnsmasq for MirrorLink-Pi usb0 subnet
After=mlpi-gadget.service sys-subsystem-net-devices-usb0.device
Requires=mlpi-gadget.service
BindsTo=sys-subsystem-net-devices-usb0.device

[Service]
Type=simple
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground --conf-file=/etc/dnsmasq.d/usb0.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
